.playlist__directory {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: none;
}

.playlists__new-track {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.playlists__new-track-name {
  overflow-x: scroll;
  white-space: nowrap;
  max-width: 100px;
  margin-left: 10px;
}

.playlists__active-tracks {
  width: 100%;
}

.playlists__controller {
  display: none;
  width: 100%;
}

.playlists__controller--visible {
  display: flex;
}

@media (min-width: 768px) {
  .playlist__directory {
    flex-basis: '15%';
    border-right: '2px solid grey';
  }
}