.app {
  display: flex;
  flex-direction: column;
}

.app__header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__wrap {
  display: flex;
  height: calc(100vh - 140px);
  margin: 20px;
}

.app__playlist {
  max-height: calc(100vh - 140px);
  flex-basis: 75%;
  padding: 0;
  margin: 0 20px 0 0;
  overflow: scroll;
}

.app__track {
  border-radius: 4px;
  height: 50px;
  background-color: cyan;
  margin: 0 0 10px 0;
  list-style: none;
}

.app__info {
  border-radius: 4px;
  height: calc(100vh - 140px);
  background-color: aquamarine;
  padding: 0;
  margin: 0 0 10px 0;
  flex-basis: 25%;
}